<p>Adding Question</p>
<button class="preview" id="p-all">Preview All</button>
<button id="fiximg">Fix Images</button>
<div class="Question">
	<p>Question Text:
	<button class="edit" id="e-text">Edit</button>
	<button class="preview" id="p-text">Preview</button>
	</p><br />
	<div class="ckeditor" id="text" placeholder="Question Text"><%= text %></div>
	</p>
</div>
<div id="options">
	Options :
	
	<% for(i=1; i<= noOfOptions; i++) { %>
	<div class="option">
		<input type="checkbox" id="cbox-opt-<%=i%>">
		<span>Option <%=i%>:</span><br />
		<button class="edit" id="e-opt-<%=i%>">Edit</button>
		<button class="preview" id="p-opt-<%=i%>">Preview</button>
		<div class="option ckeditor" id="opt-<%=i%>"><%= options.split("|:")[(i-1)]%></div>
	</div>
	<% } %>
</div>
<div class="solution">
	<p>Solution:<br />
	<button class="edit" id="e-explanation">Edit</button>
	<button class="preview" id="p-explanation">Preview</button>
	<div class="ckeditor" id="explanation"><%= explanation %></div>
	</p>
</div>
<button id="submit">Submit</button>
