<p>Adding Question</p>
<div class="Question"><p>Question Text:<br />
<textarea class="ckeditor" id="text" placeholder="Question Text"></textarea></p></div>
<div id="options">
	Options :
	<div class="option"><span>Option 1:</span><br /><textarea class="option ckeditor" id="opt-1"></textarea></div>
	<div class="option"><span>Option 2:</span><br /><textarea class="option ckeditor" id="opt-2"></textarea></div>
	<div class="option"><span>Option 3:</span><br /><textarea class="option ckeditor" id="opt-3"></textarea></div>
	<div class="option"><span>Option 4:</span><br /><textarea class="option ckeditor" id="opt-4"></textarea></div>
</div>
<div class="solution"><p>Solution:<br />
<textarea class="ckeditor" id="explanation"></textarea></p></div>
