<p>Adding Question</p>
<button class="preview" id="p-all">Preview All</button>
<button id="fiximg">Fix Images</button>
<div class="Question">
	<p>Question Text:
	<button class="edit" id="e-text">Edit</button>
	<button class="preview" id="p-text">Preview</button>
	</p><br />
	<div class="ckeditor" id="text" placeholder="Question Text"><%= text %></div>
	</p>
</div>
<div id="options">
	Options :
	
	<% for(i=1; i<= noOfOptions; i++) { %>
	<div class="option">
		<input type="checkbox" id="cbox-opt-<%=i%>">
		<span>Option <%=i%>:</span><br />
		<button class="edit" id="e-opt-<%=i%>">Edit</button>
		<button class="preview" id="p-opt-<%=i%>">Preview</button>
		<div class="option ckeditor" id="opt-<%=i%>"><%= options.split("|:")[(i-1)]%></div>
	</div>
	<% } %>

<!--
	<div class="option">
		<input type="checkbox" id="cbox-opt-2">
		<span>Option 2:</span><br />
		<button class="edit" id="e-opt-2">Edit</button>
		<button class="preview" id="p-opt-2">Preview</button>
		<div class="option ckeditor" id="opt-2"></div>
	</div>
	<div class="option">
		<input type="checkbox" id="cbox-opt-3">
		<span>Option 3:</span><br />
		<button class="edit" id="e-opt-3">Edit</button>
		<button class="preview" id="p-opt-3">Preview</button>
		<div class="option ckeditor" id="opt-3"></div>
	</div>
	<div class="option">
		<input type="checkbox" id="cbox-opt-4">
		<span>Option 4:</span><br />
		<button class="edit" id="e-opt-4">Edit</button>
		<button class="preview" id="p-opt-4">Preview</button>
		<div class="option ckeditor" id="opt-4"></div>
	</div>
-->
</div>
<div class="solution">
	<p>Solution:<br />
	<button class="edit" id="e-explanation">Edit</button>
	<button class="preview" id="p-explanation">Preview</button>
	<div class="ckeditor" id="explanation"><%= explanation %></div>
	</p>
</div>
<button id="submit">Submit</button>
